# Backend-specific files
uploads/*
!uploads/.gitkeep
exports/*
!exports/.gitkeep
temp-assets/*
!temp-assets/.gitkeep
temp-entry.js

# Node.js specific
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
jspm_packages/
